body {
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(170, 159, 159);
}

.calculator-box {
    border: 3px solid rgb(0, 0, 0);
    width: 23%;
    background-color: #252424;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(77, 74, 74, 0.1);
    padding: 20px;
}

.calculator-box h1{
    text-align: center;
    font-weight: 550;
    color: white;
}

input[type="text"] {    
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 35px;
    font-size: 18px;
    margin-right: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f2f2f2;
}


input[type="submit"]:hover {
    background-color: #e0e0e0;
}

input[type="submit"][name="clear"] {
    background-color: yellow;
    color: #000000;
    margin-left: -2px;
}

input[type="submit"][name="clear"]:hover {
    background-color: white;
}
